SECRET_KEY = ''
DEBUG = 'True'

ALLOWED_HOSTS='*'

EM_ACCOUNT=''
EM_PASSWORD=''



USE_POSTGRESQL='true'
POSTGRES_HOST=postgres
POSTGRES_USER=username
POSTGRES_DB=db_name
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432


REDIS_HOST_=localhost
REDIS_PORT=6379

ADMINER_PORT=8080

PORT=8000
